
  <header id="header" class="header d-flex align-items-center light-background sticky-top">
    <div class="container-fluid position-relative d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">Gokul</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/index">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/resume">Resume</a></li>
          <li><a href="/portfolio">Portfolio</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <div class="header-social-links">
        <a href="https://www.instagram.com/goku___._?igsh=MW12eWV2NDFxemptMg==" class="twitter"><i class="bi bi-twitter-x"></i></a>
        <a href="https://www.instagram.com/goku___._?igsh=MW12eWV2NDFxemptMg==" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/goku___._?igsh=MW12eWV2NDFxemptMg==" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="https://www.linkedin.com/in/gokul-j-43111428b" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>

    </div>
  </header>
