<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Index - Gokul J</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  {{>head}}


</head>

<body class="index-page">

  {{>header}}

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <img src="/img/1347172.png" alt="" data-aos="fade-in">

      <div class="container text-center" data-aos="zoom-out" data-aos-delay="100">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <h2>Gokul j</h2>
            <p>I'm a professional Fullstack Developer from Sankari</p>
            <a href="/about" class="btn-get-started">About Me</a>
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

  </main>

  {{>footer}}

 

</body>

</html>