<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Portfolio - Gokul J</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  {{>head}}


</head>

<body class="index-page">

  {{>header}}

<main class="main">

    <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Portfolio</h2>
        <p>See my all recent project works, past and more...</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order" >

          <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-web">Web</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-system">System</li>
          </ul><!-- End Portfolio Filters -->

          <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200" >

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-web" data-order="1">
              <img src="/img/masonry-portfolio/2.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Legal Assistent</h4>
                <p>Web based legal service provider</p>
                <a href="/img/masonry-portfolio/2.png" title="App 1" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="/project_1#portfolio-details-1" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-web" >
              <img src="/img/masonry-portfolio/1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Healthcare Appointment System</h4>
                <p>Web based doctors appoiment booking system</p>
                <a href="/img/masonry-portfolio/1.jpg" title="Product 1" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="/project_1#portfolio-details-2" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-web">
              <img src="/img/masonry-portfolio/3.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>RTHOMPM</h4>
                <p>Real time hospital operation monitoring and patient management</p>
                <a href="/img/masonry-portfolio/3.png" title="Branding 1" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="/project_1#portfolio-details-3" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-web">
              <img src="/img/masonry-portfolio/66.png" class="img-fluid" alt="" style="border-radius: 250px;">
              <div class="portfolio-info">
                <h4>Wheel On Meal</h4>
                <p>A web based restaurant reservation , rooms , and food order booking platform</p>
                <a href="/img/masonry-portfolio/66.png" title="App 1" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="/project_1#portfolio-details-4" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-system">
              <img src="/img/masonry-portfolio/5.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>personal desktop chatbot</h4>
                <p>A system based desktop companion for tasks, info, and fun.</p>
                <a href="/img/masonry-portfolio/5.png" title="App 1" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="/project_1#portfolio-details-5" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-web">
              <img src="/img/masonry-portfolio/6.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>my portfolio</h4>
                <p>Now you are visiting a site its my own portfolio custimized from the ThemeWagon.</p>
                <a href="/img/masonry-portfolio/6.png" title="App 1" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="/index" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

          </div><!-- End Portfolio Container -->
      

        </div>

      </div>

    </section><!-- /Portfolio Section -->

  </main>

  {{>footer}}

 

</body>

</html>